* {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: ;
    background: url(../images/body_bg.jpg) no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Proximanova Bold' sans-serif;
}
p, a, ul, li, input, label, button, textarea {
    margin: 0;
    padding: 0;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.wrap {
    margin: auto;
    width: 970px;
}

/* Header
------------------------------------------------------------------------------------ */
.header_container {
    background: white;
    height: 105px;
    min-width: 970px;
}
.nav_container {
    height: 30px;
    min-width: 970px;
    background: #3A495E;
}
.nav_container ul li {
    line-height: 30px;
    float: left;
    list-style: none;
    margin-right: 20px;
}
.nav_container ul li a {
    color: #c2c8cf;
    font-size: 12px;
}
.nav_container .right {
    float: right;
}
/* 404 Content
------------------------------------------------------------------------------------ */
.content404 {
    padding: 0 15px;
}
.content404 h1,
.content404 p {
    font-family: 'Proximanova Bold';
    color: white;
}
.content404 h1 {
    margin-bottom: 20px;
    padding-top: 40px;
    font-size: 56px;
}
.content404 p {
    font-size: 24px;
}
.content404 .choose_variant {
    margin: 25px 0 30px;
    padding: 15px;
    widows: 100%;
    height: 90px;
    background: #e3d670;
    box-shadow: inset 0 0 0 2px #f0d30e;
    border-radius: 3px;
}
.content404 .choose_variant p,
.content404 .choose_variant a {
    font-size: 24px;
    color: black;
}
.content404 .choose_variant p {
    font-family: 'Arial', sans-serif;
}
.content404 .choose_variant a {
    font-family: 'Proximanova Bold';
    display: inline;
    border-bottom: 2px dotted black;
    text-decoration: none;
}
.content404 .choose_variant a:hover {
    color: #0086ff;
    border-bottom: 2px dotted #0086ff;
}
.content404 .or404 {
    text-align: center;
}
.content404 .or404 p {
    display: inline-block;
    font-family: 'Proximanova Bold';
    font-size: 24px;
    color: white;
}
.content404 .or404 p:before,
.content404 .or404 p:after {
    content: '';
    background: white;
    height: 2px;
    width: 432px;
    float: left;
    margin-top: 15px;
}
.content404 .or404 p:before {
    float: left;
    margin-right: 15px;
}
.content404 .or404 p:after {
    float: right;
    margin-left: 15px;
}
.content404 form {
    padding: 15px;
    margin-top: 30px;
    width: 100%;
    background: rgba(53,75,98,.7);
    border-radius: 3px;
    border: 2px solid #3d5166;
}
.content404 form p {
    margin-bottom: 15px;
}
.content404 form p.info {
    margin: 9px 0;
}
.content404 form p.info,
.content404 form p.info a {
    font-family: 'Arial', sans-serif;
    font-size: 10px;
    color: #b5b4b4;
}
.content404 form p.info a {
    text-decoration: underline;
}
.content404 form .warning {
    padding: 5px 10px;
    background: white;
    margin-bottom: 15px;
    border: 2px solid #0085ff;
    border-radius: 3px;
}
.content404 form .warning p {
    margin: 0;
    font-size: 20px;
    color: #0085ff;
}
.content404 form input {
    width: 442px;
    height: 45px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    border: 2px solid #3d5166;
}
.content404 form input.email404 {
    float: right;
}
.content404 form input:first-child {
    background: red;
}
.content404 form input:focus {
    border-color: #0085ff;
}
.content404 form a.btn {
    display: block;
    width: 100%;
    font-family: 'Proximanova Bold';
    text-align: center;
    border: 2px solid #3589cf;
    border-radius: 3px;
}

