@font-face {
    font-family: 'Proximanova Bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Bold.woff') format('woff'),
         url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
         url('../fonts/ProximaNova-Bold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proximanova SemiBold';
    src: url('../fonts/Proxima Nova Semibold.eot');
    src: url('../fonts/Proxima Nova Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Proxima Nova Semibold.woff') format('woff'),
         url('../fonts/Proxima Nova Semibold.ttf') format('truetype'),
         url('../fonts/Proxima Nova Semibold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proximanova XBold';
    src: url('../fonts/ProximaNova-Xbold.eot');
    src: url('../fonts/ProximaNova-Xbold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Xbold.woff') format('woff'),
         url('../fonts/ProximaNova-Xbold.ttf') format('truetype'),
         url('../fonts/ProximaNova-Xbold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}