.td_lvl2_wrap .content_container h1 {
	background: none;
    padding: 0;
    line-height: 30px;
    margin-bottom: 15px;
}
.td_lvl2_wrap .filter_input {
	width: 100%;
	border: 2px solid #ECF0F1;
	font-size: 18px;
	padding-left: 35px;
	background: url(../images/search_filter.png) no-repeat 8px;
	margin-bottom: 12px;
}
.td_lvl2_wrap .content_container .content .filter {
	background: #ECF0F1;
	padding-top: 8px;
	padding-bottom: 8px;
}
.td_lvl2_wrap .filter a {
	display: inline-block;
	padding: 2px 7px;
	margin: 4px 2px;
	font-size: 14px;
	font-family: Arial;
	color: black;
	text-decoration: none;
	background: #F6E46E;
	border-radius: 4px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.td_lvl2_wrap .filter a:hover {
	background: #0085FF;
	color: white;
}
.td_lvl2_wrap .catalog_man  {
	margin-left: 0;
}
.td_lvl2_wrap .catalog_man li {
	float: left;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-ms-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
	margin-top: 15px;
	padding: 14px;
	width: 211px;
	height: 223px;
	border: 2px solid #ECF0F1;
	border-radius: 4px;
	margin-right: 13px;
}
.td_lvl2_wrap .catalog_man li:nth-child(3n) {
	margin-right: 0;
}
.td_lvl2_wrap .catalog_man li > a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.td_lvl2_wrap .catalog_man li .img {
	width: 180px;
	height: 128px;
	background: url(../images/photo_plug.jpg);
	margin-bottom: 30px;
}
.td_lvl2_wrap .catalog_man li .img img {
	width: 180px;
	height: 128px;
	border-radius: 4px;
	border: 2px solid #ECF0F1;
}
.td_lvl2_wrap .catalog_man li:hover {
	border-color: #0085FF;
	box-shadow: 0 0 6px #2395FF;
}
.td_lvl2_wrap .catalog_man li .year {
	color: black;
	font-family: 'ProximaNova Bold';
	line-height: 16px;
}