/*
@font-face { font-family: ProximaNova-Black; src: local("ProximaNova-Black"), url("fonts/Proxima Nova Black.otf"); }
@font-face { font-family: ProximaNova-Bold; src: local("ProximaNova-Bold"), url("fonts/Proxima Nova Bold.otf"); }
@font-face { font-family: ProximaNova-Extrabold; src: local("ProximaNova-Extrabold"), url("fonts/Proxima Nova Extrabold.otf"); }
@font-face { font-family: ProximaNova-Regular; src: local("ProximaNova-Regular"), url("fonts/Proxima Nova Regular.otf"); }
*/

/* general */

html, body { background-color: #fff; font-family: Arial, sans-serif; height: 100%; min-height: 100%; font-size: 14px; color: #000; width: 100%; width: 100%; min-width: 960px; }
* { margin: 0; padding: 0; outline: medium none; font-size: 100%; }
html.pr, html.pr body { background-color: #fbfbfb; }
a img { border: none; }

.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

#main {
    position: relative;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
}
#page {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 134px;
    overflow: hidden;
}

[id*='bx'] select { top: 0 !important; visibility: visible !important; }
/* [id*='bx'] input, [id*='bx']  textarea, [id*='bx']  .uneditable-input { width: auto !important; } */




/* typekit fonts */

h1, h2, h3, h4, h5, .panel h2.panel-title, .modal h3, .ProximaNovaBold, header .head nav, .number strong, section .panel .name,
section .panel h4, .nav-tabs>li>a, .modal-dialog .modal-header h4, .popup .name, header .popup ul li a, header .popup .exit,
.panel .panel-heading, .panel .panel-heading *, aside nav ul li a, #order_form_div .confirm , .table.contacts,
#callbackModal.modal label, #feedbackModal.modal label, .lm-auto-detail-description h2, header .slider .search .name, 
.ProximaNovaRegular, .content table.table tr > th, .phone .number, .phone mark, header .head .city, footer .skype,
footer .email, header .slider .search h1, .modal h5, .modal .reg, section .panel .price, .styled-select select,
.ProximaNovaExtrabold, section.promo nav ul li .name, section .panel-title, .btn, input[type="text"], textarea,
.selectbox .select .text, .selectbox .dropdown li, #regModal.modal fieldset label.control-label, .lm-auto-main-art-sought-404.panel, 
.catalog-section .rPart h3, .content .table.props th, .tecdoc.brands h2, .tecdoc.brands a, .treeview li span, .treeview li a,
#tecdocInfoModal table, .cart-items tfoot, #regModal .well .name, .inline-filter.cart-filter, #order_form_div .title,
#order_form_div .sale_order_table .name, #order_form_div .sale_order_table .paysystem_name,
#order_form_div .fantomRadio label, .content .alert-danger, .workarea.personal form label {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
}
h1, .content h2, .content h3, .content h4, .content h5, .content h6, .panel h2.panel-title, .ProximaNovaBold, header .head nav, .number strong, section .panel .name,
section .panel h4, .nav-tabs>li>a, .modal-dialog .modal-header h4, .popup .name, header .popup ul li a, header .popup .exit,
.panel .panel-heading, .panel .panel-heading *, aside nav ul li a, #order_form_div .confirm ,
#callbackModal.modal label, #feedbackModal.modal label, .lm-auto-detail-description h2, header .slider .search .name, 
.modal h5, .modal .reg, .modal .authSocial h5, #regModal .well .name, .lm-auto-main-art-sought-404.panel,
.catalog-section .rPart h3, .content .table.props th, .content table.table tr > th, .tecdoc.brands a, .modal h3, #tecdocInfoModal table tr td:first-child, .cart-items tfoot, 
#order_form_div .title, #order_form_div .sale_order_table .paysystem_name, #order_form_div .fantomRadio label, .content .alert-danger {
    font-weight: 700;
}
.table.contacts, .selectbox .select .text, .selectbox .dropdown li, #regModal.modal fieldset label.control-label, .treeview#lm-auto-tecdoc-catalog-groups li > span,
#order_form_div .sale_order_table .name, .workarea.personal form label {
	font-weight: 600;
}
.ProximaNovaRegular, .phone .number, .phone mark, header .head .city, footer .skype,
footer .email, header .slider .search h1, section .panel .price, .styled-select select, input[type="text"], textarea {
    font-weight: 400;
}
.ProximaNovaExtrabold, section.promo nav ul li .name, section .panel-title, .btn, .tecdoc.brands h2 { font-weight: 800; }

.modal h3 { font-size: 20px; }
.modal input[type="text"], .modal input[type="password"], .modal textarea { font-family: Arial, sans-serif; font-size: 18px; }
/* / typekit fonts */

/*
h1, .panel h2.panel-title, .ProximaNovaBold, header .head nav, .number strong, section .panel .name,
section .panel h4, .nav-tabs>li>a, .modal-dialog .modal-header h4, .popup .name, header .popup ul li a, header .popup .exit,
.panel .panel-heading, .panel .panel-heading *, aside nav ul li a, #order_form_div .confirm , .table.contacts,
#callbackModal.modal label, #feedbackModal.modal label, .lm-auto-detail-description h2, header .slider .search .name {
    font-family: "ProximaNova-Bold";
}
.ProximaNovaRegular, .content table.table tr > th, .phone .number, .phone mark, header .head .city, footer .skype,
footer .email, header .slider .search h1, .modal h5, .modal .reg, section .panel .price, .styled-select select {
    font-family: "ProximaNova-Regular";
}
.ProximaNovaExtrabold, section.promo nav ul li .name, section .panel-title, .btn { font-family: "ProximaNova-Extrabold"; }
*/



nav ul li, section ul li, .modal .authSocial ul li, .popup ul li, .catalog li, .popular_groups li, .tecdoc ul  li { list-style: none; }
nav ul { margin: 0; overflow: hidden; }

.full-width { width: 100%; }

/*** bootstrap style custom ***/

.container { position: relative; width: 970px; max-width: 970px; min-width: 970px; }

[class*='icon-custom-'] { display: inline-block; background: url('images/icons.png') }
.icon-custom-basket { width: 20px; height: 11px; background-position: -40px -83px; }
.icon-custom-basket-green { width: 30px; height: 18px; background-position: -78px -216px; }
.icon-custom-basket-blue { width: 30px; height: 18px; background-position: -78px -243px; }
.icon-custom-auth { width: 10px; height: 11px; background-position: -82px -67px; }
.icon-custom-auth-green { width: 17px; height: 17px; background-position: -57px -215px; }
.icon-custom-auth-blue { width: 17px; height: 17px; background-position: -57px -243px; }
.icon-custom-like { width: 27px; height: 27px; background-position: -57px -1px; }
.icon-custom-search { width: 17px; height: 15px; background-position: -65px -83px; }
.icon-custom-search-gray { width: 17px; height: 15px; background-position: -93px -179px; }
.icon-custom-like:hover { background-position: -85px -1px; }
.icon-custom-tocart { width: 27px; height: 27px; background-position: -1px -1px; }
.icon-custom-tocart:hover { background-position: -29px -1px; }
.icon-custom-close { width: 40px; height: 40px; background-position: 0 -78px; }
.icon-custom-login { width: 16px; height: 14px; background-position: -48px -64px; }
.icon-custom-password { width: 16px; height: 14px; background-position: -65px -64px; }
.icon-custom-delete { width: 18px; height: 18px; background-position: -90px -88px; }
.icon-custom-to-catalog { width: 12px; height: 16px; background-position: -98px -122px; }
.icon-custom-edit { width: 16px; height: 14px; background-position: -95px -145px; }
.icon-custom-info { width: 19px; height: 19px; background-position: -43px -99px; }
.icon-custom-radio { width: 23px; height: 23px; background-position: -3px -32px; }
.icon-custom-confirm { width: 91px; height: 91px; background-position: -119px -132px; }

.icon-circle-green { display: inline-block; width: 90px; height: 90px; border-radius: 90px; background-color: #27ad5f; }

.btn { font-size: 16px; padding: 10px 12px; border-width: 2px; }
.btn:hover, .btn:focus { color: #fff !important; }
.btn.btn-mini { font-size: 12px; padding: 3px 6px; }
[class*='btn-'] { text-transform: uppercase; color: #fff; text-decoration: none !important; }
.btn-blue { background-color: #2f96f1; border-color: #3589cf; }
.btn-blue:hover { background-color: #3589cf; }
.btn-green { background-color: #2dcc70; border-color: #27ae60; }
.btn-green:hover { background-color: #27ae60; }
.btn-gray { background-color: #d1d5d8; }
.btn-gray:hover { background-color: #bec3c7; }
.btn-yellow { background-color: #f1cd00; }
.btn-yellow:hover { background-color: #f1c100; }
.btn-red { background-color: #e84c3d; border-color: #d2493a; }
.btn-red:hover { background-color: #d2493a; }
.btn-fb { background-color: #365AA7; }
.btn-fb:hover { background-color: #0f3a95; }
.btn-vk { background-color: #3A86C0; }
.btn-vk:hover { background-color: #166fb3; }
.btn-tw { background-color: #1CAEEA; }
.btn-tw:hover { background-color: #0091de; }
.btn-gp { background-color: #E45448; }
.btn-gp:hover { background-color: #d33324; }
.btn-mm { background-color: #2665A9; }
.btn-mm:hover { background-color: #004a99; }
.btn-odn { background-color: #F2720C; }
.btn-odn:hover { background-color: #d56b00; }
.btn.disabled {
	opacity: 1;
	border-color: #bdc3c7;
	background-color: #d1d5d8;
}

#lm-catalogs-filter-form .btn, #tecdoc-wrapper-id .btn, #lm-catalogs-filter-form .btn, #to-wrapper-id .btn, #lm-catalogs-filter-form .btn {
	display: inline-block;
	padding: 10px 12px;
	margin: 8px 8px 8px 0;
	width: 130px;
}

label.radio, label.checkbox { cursor: pointer; }
label.radio input[type="radio"] { width: auto; }

.popup {
    display: none;
    position: absolute;
    width: 210px; min-height: 200px;
    top: 50px; right: 0;
    padding: 14px;
    border-radius: 6px;
	border: 2px solid #ECF0F1;
    color: #000;
    background-color: #fff;
    white-space: normal;
    -webkit-box-shadow: 0 -1px 12px #666;
    box-shadow: 0 -1px 12px #666;
    z-index: 100;
}
.popup:before {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFFFFF;
    border-style: solid;
    border-width: 0 9px 9px;
    content: "";
    height: 0;
    right: 20px;
    position: absolute;
    top: -9px;
    width: 0;
}
header .popup .name { position: relative; display: inline-block; text-decoration: none; font-size: 19px; line-height: 1; border-bottom: 1px dotted #000; color: #000 !important; }
header .popup .name:hover { color: #0086ff; }
header .popup .well { border-style: none; background-color: #F7E56F; padding: 14px; font-weight: bold; line-height: 20px; }
header .popup hr { margin: 16px -16px; border-width: 2px 0 0; border-color: #ECF0F1; }
header .popup .btn { width: 100%; }
header .popup .btn:hover { color: #fff !important; }
header .popup ul { margin: 0; }
header .popup ul li a, header .popup .exit { color: #000 !important; font-size: 16px; display: block; padding: 1px 8px; border-radius: 6px; }
header .popup ul li a:hover, header .popup .exit:hover { color: #000 !important; background-color: #F7E56F; }

.well { padding: 25px; margin-bottom: 25px; border-width: 2px; border-radius: 3px; }
.well.green { background-color: #96e5b8; border-color: #57d68d; }
.well.yellow { background-color: #f6e46e; border-color: #f1d40f; }
.well.gray { background-color: #f5f7f8; border-color: #ecf0f1; }
.modal-dialog .well, .modal-dialog .well a { color: #000 !important; }
.well label.radio, .well label.checkbox { font-weight: normal !important; margin: 0; padding-top: 0; }
.well label.radio [class*="icon"] { top: 2px; }
.well label.radio:hover { color: inherit; }
.well .name { font-size: 18px; font-weight: bold; }
.well p { line-height: 20px; margin: 0; }

.form-group { margin-bottom: 25px; }

.modal-dialog { width: 406px; white-space: normal; }
.modal-header { position: relative; border-bottom: none; padding: 15px 25px; }
.modal-header .close { position: absolute; top: -16px; right: -16px; width: 40px; height: 40px; opacity: 1; filter: alpha(opacity=100); }
.modal-header h4 { color: #000; font-size: 30px; }
.modal-content { border: 2px solid #ECF0F1; border-radius: 3px; }
.modal-body { padding: 0 25px; }
.modal-body .row { margin-bottom: 25px; }
.modal-backdrop { background-color: #fff; }
.modal label { color: #000; text-align: left !important; font-size: 14px; }
#callbackModal.modal label, #feedbackModal.modal label { font-size: 20px; line-height: 18px; padding-top: 10px; white-space: nowrap; }
.modal .alert p { font-size: 12px; margin: 0; }
.modal .alert > p + p { margin-top: 0; }
#authModal .modal-body { padding-bottom: 10px; }
#authModal .modal-header h4 { white-space: nowrap; }
#forgotModal .modal-dialog { min-height: 350px; width: 426px; }
#forgotModal .modal-body { min-height: 218px; }
#regModal .modal-dialog { width: 720px; min-height: 900px; }
#regModal .modal-body { min-height: 766px; }
#regModal .btn-blue { margin-top: 20px; }
#regModal.modal form fieldset { background-color: #f8f8f8; padding: 34px 20px 10px; }
#regModal.modal form .radio { padding-left: 38px; }
#regModal .well.green .radio .icon, #regModal .well.green .radio .icon-to-fade { background-image: url('images/radio-green.png'); background-size: auto !important; }
#regModal .well.yellow .radio .icon, #regModal .well.yellow .radio .icon-to-fade { background-image: url('images/radio-yellow.png'); background-size: auto !important; }
#regModal .well .name { font-size: 22px; }
#regModal.modal fieldset label.control-label { font-size: 20px; line-height: 20px; }
#regModal.modal fieldset input[type="text"], #regModal.modal fieldset input[type="password"] { font-family: Arial, sans-serif !important; font-size: 18px; font-weight: normal; }
#authErrModal .modal-dialog { width: 300px; }
#authErrModal .modal-body { min-height: 100px; }
#authErrModal .authMethod { margin: 10px 0; text-align: center; }
#authErrModal .authMethod span {
	position: relative;
	display: inline-block;
	margin: 4px 0;
	font-size: 11px;
	color: #ddd;
	background-color: #fff;
}
#authErrModal .authMethod span:before, #authErrModal .authMethod span:after {
	position: absolute; content: "";
	top: 9px; left: -110px;
	height: 1px; width: 100px;
	background-color: #ddd;
}
#authErrModal .authMethod span:after { left: auto; right: -110px; }
#feedbackModal .modal-dialog, #callbackModal .modal-dialog, #successRegModal .modal-dialog, 
#addNotepadModal .modal-dialog, #add-2-cart .modal-dialog, #tecdocInfoModal .modal-dialog {
	width: 705px;
}
#feedbackModal .modal-body { padding-bottom: 20px; }
#feedbackModal .modal-header h4, #callbackModal .modal-header h4 { text-align: left; }
#feedbackModal textarea, #callbackModal textarea { height: 110px; }
#feedbackModal .comment, #callbackModal .comment { font-size: 11px; line-height: 14px; margin-top: 0; }
#feedbackModal .comment mark, #callbackModal .comment mark { color: #000; }
#successRegModal .modal-header { padding-left: 110px; }
#successRegModal .modal-header i { position: absolute; left: 10px; top: 10px; }
#addNotepadModal, #add-2-cart  { top: 25%; }
#tecdocInfoModal .modal-header { border-bottom: 2px solid #ECF0F1; } 
#tecdocInfoModal .modal-header mark { color: #0086ff; }

/*#callbackModal .well, #feedbackModal .well { padding-bottom: 0; }*/
#callbackModal .btn, #feedbackModal .btn { width: 265px; float: right; }
 
.tooltip .tooltip-inner {
    color: #000;
    padding: 8px 12px;
    width: auto;
    white-space: nowrap;
    border: 1px solid #ecf0f1;
    background-color: #fff;
    -webkit-box-shadow: 0 0 9px #c2c9d0;
    box-shadow: 0 0 9px #c2c9d0;
}
.tooltip .tooltip-arrow { border-top-color: #fff !important; top: 40px; }
.tooltip.bottom .tooltip-arrow { border-bottom-color: #fff !important; top: 0; }

/*** /bootstrap style custom ***/

/*** form element ***/

select { border: 2px solid; border-radius: 3px; }
input[type="text"], input[type="password"], textarea, select {
	padding: 8px 10px;
    border-color: #EEF3F6;
    background-color: #fff;
	border-radius: 3px;
}
input[type="text"], input[type="password"] { height: 45px; }
input[type="checkbox"], input[type="radio"] { width: auto; margin-top: 0; }


#main header .selectbox { height: 46px; }
#main .selectbox .select { border-radius: 3px; min-height: 46px; }
#main .selectbox, #main .selectbox  + select { text-transform: uppercase; height: 45px; }
#main .btn { border-radius: 3px; height: 45px; }
#main .btn.pull-left { margin-right: 20px; }
#main .btn.pull-right { margin-left: 20px; }

.styled-select {
   width: 100%;
   height: 45px;
   overflow: hidden;
   border: 2px solid #EEF3F6;
   padding: 8px;
   font-size: 14px;
   border-radius: 3px;
   cursor: pointer;
   background: url("images/select-arrow.jpg") no-repeat right #fff;
}
.styled-select select {
   background: transparent;
   width: 108%;
   border: none;
   height: 45px;
   margin: -8px 0 0 -8px;
}
.drop-arrow {
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 6px solid #000;
	width: 10px;
	height: 0;
	overflow: hidden;
}
.drop-arrow.show {
	display: inline-block !important;
	border-top: none;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid #000;
}

.modal textarea, .modal input[type="text"], .modal input[type="password"] {
    width: 100%;
    height: 44px;
    border-color: #ecf0f1;
    background-color: #fff;
}
.modal .well.yellow textarea, .modal .well.yellow input[type="text"], .modal .well.yellow input[type="password"] { border-color: #f1d40f; }
.modal form fieldset {
    border: 2px solid #ECF0F1;
    padding: 14px;
    border-radius: 8px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}
header .top .auth .modal a { color: #BDC3C7; }
header .top .auth .modal .authSocial a { color: #fff; }
header .top .auth .modal .reg a { color: #000; }
.modal .controls { position: relative; margin-bottom: 14px; }
/*.modal .controls input { font-family: Arial, Helvetica, sans-serif; }*/
.modal input[type="text"]:focus, .modal input[type="password"]:focus, .modal textarea:focus { border-color: #48a0ff !important; }
.modal input.novalid { border-color: #ff0008; }
.modal .btn-blue, .modal .btn-green, .modal .btn-gray { width: 100%; }
.modal .error { display: block; color: #ff0008; font-size: 12px; font-weight: bold; margin: 2px 0 -10px; }
form .controls i { position: absolute; left: 10px; top: 14px; opacity: 0.5; filter: alpha(opacity=50); }
form .controls i + input { padding-left: 30px; }
form .controls label { color: #BDC3C7; font-weight: normal; font-size: 12px; }
form .controls label.checkbox { margin: 0; }
form .controls label.checkbox input[type="checkbox"] { position: absolute; left: 2px; top: 2px; width: auto; }
label.checkbox { cursor: pointer; height: 15px; line-height: 15px; padding-left: 20px; }
.modal .controls label.checkbox { float: left; }
.modal .controls label.checkbox + a { float: left; display: block; line-height: 15px; margin-left: 10px; font-size: 12px; text-decoration: underline; }
.modal .controls label.checkbox + a:hover { color: #48a0ff; }
.modal .authSocial { margin: 10px -10px 10px 0; overflow: hidden; }
.modal .authSocial h5 { margin-bottom: 6px; margin-right: 10px; text-transform: uppercase; color: #BDC3C7; font-size: 14px; border-top: 1px solid #BDC3C7; text-align: center; }
.modal .authSocial h5 span { position: relative; background-color: #fff; padding: 0 4px; top: -8px; }
.modal .authSocial ul { margin: 0; overflow: hidden; }
.modal .authSocial ul li { float: left; width: 104px; margin: 0 10px 10px 0; }
.modal .authSocial .btn { width: 100%; text-transform: none; padding: 4px 2px; font-size: 89%; height: 28px !important; }
.modal .authSocial .btn:hover { color: inherit !important; }
.modal .reg { text-transform: uppercase; padding-top: 6px; color: #BDC3C7; border-top: 1px solid #BDC3C7; }
.modal .reg a {text-decoration: none; line-height: 1; border-bottom: 1px dashed; }
.modal .reg a:hover { border-color: #fff; }
.modal .comment { display: inline-block; margin-top: 8px; color: #BDC3C7; font-size: 12px; line-height: 18px; }
.modal .comment a { text-decoration: underline; }
/*** / form element ***/

/*** header ***/

header .top {
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    background-color: #334960;
}
header .cart a:hover, header .auth a:hover, header .phone a:hover, header .top nav ul li a:hover { color: #0086FF !important; }
header .top nav { float: left; }
header .top nav ul li { float: left; margin: 0 6px; height: 30px; }
header .top nav ul li a { color: #C2C8CF; text-decoration: none; font-size: 12px; }
header .top .auth { max-width: 160px; }
header .top .cart, header .top .auth { position: relative; float: right; height: 30px; margin-left: 20px; color: #fff; }
header .top .show, header .top .show { display: inline-block !important; }
header .top .cart a, header .top .auth a { color: #fff; }
header .top .cart .popup .name { margin-left: 30px; }
header .top .cart .popup .name i { position: absolute; top: 0; left: -34px; }
header .top .cart .popup .name:hover i { background-position: -78px -243px; }
header .top .auth .popup .name { margin-left: 20px; }
header .top .auth .popup .name i { position: absolute; top: 0; left: -24px; }
header .top .auth .popup .name:hover i { background-position: -57px -242px; }
header .top .cart .num { position: relative; top: -1px; display: inline-block; min-width: 20px; min-width: 22px; height: 22px; line-height: 22px; border-radius: 22px; text-align: center; color: #fff; font-size: 11px; padding: 0 4px; background-color: #2DCC70; }
header .head { padding: 12px 0; height: 76px; }
header .head .logo { float: left; }
header .head nav { float: left; margin: 20px 0 0 80px; }
header .head nav ul li { float: left; margin: 0 0 0 30px; }
header .head nav a { color: #000; text-transform: uppercase; }
header .head nav a:hover { color: #0086ff; }
header .head .city { position: absolute; top: 18px; right: 224px; }
header .head .phone a { color: inherit; }
header .head .phone, footer .phone { float: right; margin-top: 16px; }
header .head .phone .number, footer .phone .number { display: block; border-bottom: 1px dotted; line-height: 1; font-size: 22px; margin-bottom: 2px; }
header .head .phone .number strong, footer .phone .number strong { font-weight: normal; }
header .head .phone mark, footer .phone mark { display: block; color: #BDC3C7; font-size: 12px; }
header .slider { position: relative; height: 410px; }
header .slider .carousel, header .personalImage { height: 410px; overflow: hidden; }
header .slider .carousel-indicators { position: relative; left: 0; width: 940px; height: 28px; margin: 0 auto; top: 164px; text-align: right; }
header .slider .carousel-indicators li { width: 18px; height: 18px; border-width: 5px; border-radius: 18px; background-color: #fff; margin: 0 0 0 8px; }
header .slider .carousel-indicators .active { background-color: #3596da !important; }
header .slider .carousel-inner { margin-top: -28px; }
header .slider .carousel-inner>.item>img, header .personalImage img { min-width: 960px; width: 100%; max-width: none; max-height: none; min-height: 410px; }
header .slider .search { position: absolute; top: 36px; z-index: 10; width: 940px; }
header .slider .search .name { display: block; text-transform: uppercase; color: #fff; font-size: 56px; line-height: 64px; margin-bottom: 30px; }
.search .nav-tabs { border-bottom: none; }
.search .nav-tabs>li { position: relative; height: 50px; margin-right: 12px; margin-bottom: -2px; }
@-moz-document url-prefix() { .search .nav-tabs>li { margin-right: 13px; } }
.search .nav-tabs>li:last-child { margin-right: 0; }
.search .nav-tabs>li>a { display: block; position: relative; text-transform: uppercase; color: #fff; padding: 8px 7px; font-size: 16px; z-index: 2; border: 2px solid transparent; outline: none; margin-right: 0; }
.search .nav-tabs>li:hover>a { color: #000; background-color: #f6e46e; border: 2px solid #f0d30e; border-radius: 4px; }
.search .nav-tabs>li>a:hover { color: #000 !important; }
.search .nav-tabs>li.active>a { color: #000; background-color: #f6e46e; border: 2px solid #f0d30e; border-bottom: none; height: 50px; }
.search .nav-tabs>li.active:hover>a { border-radius: 4px 4px 0 0; }
.search .nav-tabs>li .substrate { position: absolute; top: 0; left: 0; right: 0; bottom: 10px; border-radius: 4px; background-color: #3B546B; opacity: 0.7; filter: alpha(opacity=70); }
.search .nav-tabs>li.active .substrate { display: none; }
.search .tab-content { color: #000; background-color: #f6e46e; padding: 0 0 0 20px; height: 140px; border: 2px solid #f0d30e; border-radius: 0 3px 3px 3px; }
.search .tab-content > .tab-pane.active { display: table-cell !important; }
.search .tab-content > .tab-pane { vertical-align: middle; height: 138px; }
.search .tab-content form { margin: 0 -20px 0 0; }
.search .tab-content form input[type="text"] { float: left; width: 616px; color: #dee1e3; font-size: 18px; padding: 9px 10px 10px; margin-bottom: 10px; border-color: #f1d40f; }
.search .tab-content #search-tab form input[type="text"] { margin-right: 14px; }
.search .tab-content form input[type="text"]:focus { border-color: #0086FF; color: #000; }
.search .tab-content form .btn { padding: 10px 16px; margin-bottom: 10px; }
.search .tab-content form .btn.btn-blue { margin-left: 10px; }
.search .tab-content form .btn i { position: relative; top: 2px; margin: 0 4px 0 0; }
.search .tab-content form .naprimer { display: block; clear: both; font-size: 12px; color: #363636; }
.search .tab-content form .naprimer a { color: #363636; }
.search .tab-content form .naprimer a:hover { color: #0086FF; }
.search .tab-content .selectbox .select { padding: 11px 40px 11px 13px; width: 171px; }
.search .tab-content #tecdoc-wrapper-id .selectbox .select { width: 165px; }
.search .tab-content #search-tab form { margin-top: 28px; }
.search .tab-content #tuning-tab { margin-top: 0; }
/*.search .tab-content #tuning-tab .filter-wrap,
.search .tab-content #tuning-tab input[type="submit"],
.search .tab-content #tuning-tab .btn { margin-bottom: 0 !important; }*/
.search .tab-content #tuning-tab input[type="text"] { width: 748px; }
.search .tab-content #oils-tab .selectbox .select { width: 224px; }
/*.search .tab-content #oils-tab .selectbox .dropdown { width: 226px; }*/
.search .tab-content #oils-tab .btn { width: 170px; }
.search .tab-content #akb-tab .selectbox .select, .search .tab-content #akb-tab .btn,
.search .tab-content #oils-tab .selectbox .select, .search .tab-content #oils-tab  .btn,
.search .tab-content #tuning-tab .selectbox .select, .search .tab-content #tuning-tab  .btn
 { width: 163px; }

/*select { top: 0 !important; visibility: visible !important; }*/
.search .tab-content .lm-auto-select-wrap, .search .tab-content .filter-wrap { display: inline-block; margin: 8px 16px 8px 0; }

/*** / header ***/

/** aside **/
aside { float: right; width: 220px; }
.content aside .panel { border: 2px solid #F6E56F; -webkit-box-shadow: 0 0 4px #eee; box-shadow: 0 0 4px #eee; }
aside .panel-default > .panel-heading { padding: 10px 15px; font-size: 22px; background-color: #F6E56F; border-color: #F6E56F; min-height: 50px; border-radius: 3px 3px 0 0 !important; }
.content aside nav ul { margin-left: 0; }
aside nav ul li a { display: block; color: #000; font-size: 16px; padding: 4px 8px; border-radius: 4px; }
aside nav ul li.active a, aside nav ul li a:hover { color: #000; background-color: #F6E56F; }
/** /aside **/

/*** content ***/

.content .panel-default > .panel-heading { border-bottom: none; border-radius: 3px; }
.content .panel-default > .panel-heading h1, .content .panel-default > .panel-heading h2 { margin: 0; }
.content .panel-default > .panel-body { border-top: 2px solid #ecf0f1; border-radius: 0 0 3px 3px; overflow: hidden; }
.content .panel-default > .panel-body.tecdoc { overflow: visible; }
.content aside .panel-default > .panel-body { border-top: none; }
.content .panel-default.yellow { border-width: 1px; }
.content .panel-default.yellow .panel-body { background-color: #f7e56f; color: #000; }

.content aside + .panel, .content aside + .content-indent { margin-right: 250px; }
.content { margin: 25px 0 0; }
.content section { margin: 0 0 30px; }
.content section.blog, .content section.faq { margin-bottom: 0; }
.content ul { margin-left: 20px; }
.content img { max-width: 100%; }
.content .dk_toggle, .content .dk_toggle:hover, .content .dk_toggle:focus, .content .dk_focus .dk_toggle, .content .select-icon { background-color: #F6E56F; }
.panel h2.panel-title { font-size: 28px; margin: 0 0 20px; }
.dk_fouc .content select { visibility: visible; top: 0; }
.breadcrumbs { margin-bottom: 20px; }
section nav ul { margin: 0; }
section .panel-title { font-size: 30px; text-transform: uppercase; color: #000; }
section .panel-title a:hover { color: #0086FF; }
section[class*='col-md-'] .panel-title { color: #fff; }
section .panel-heading { padding: 16px 20px; }
section .panel { -webkit-box-shadow: 0 0 8px #eff0f2; box-shadow: 0 0 8px #eff0f2; }
section .panel-default>.panel-heading, section .panel-default { border-color: #eff0f2; }
.content .panel { position: relative; -webkit-box-shadow: 0 0 8px #ddd; box-shadow: 0 0 8px #ddd; border: 2px solid #ecf0f1; /* overflow: hidden; */ }
.panel-default > .panel-heading { background-color: #fff; padding: 18px 15px; color: #000; min-height: 70px; }
.panel article p a { color: #000; }
.panel article p a:hover { color: #0086FF; }

section.blog, section.faq { height: 380px; }
section.blog article, section.faq article { height: 118px; overflow: hidden; }

.content table { margin-bottom: 0 !important; }
.content table.table tr > th, .content table.table tr > td, .applicability-modifications-table tr > th, .applicability-modifications-table tr > td { border-top: none !important; border-bottom: 1px dotted #e0e0e0 !important; }
.content table.table tr > th, .applicability-modifications-table tr > th { color: #000; text-transform: uppercase; }
.content table tr:last-child td, .applicability-modifications-table tr:last-child td { border-bottom: none !important; }

.applicability-modifications-table { font-size: 11px; }
.applicability-modifications-table td { text-align: left; }

.form-horizontal .form-group:last-child { margin-bottom: 0 !important; }

section.promo nav ul { padding: 10px 0; margin-left: -10px; margin-right: -10px; }
section.promo nav ul li {
    float: left;
    padding: 20px;
    width: 300px;
    height: 340px;
    margin: 0 10px;
    background-color: #fff;
    border: 2px solid #ecf0f1;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 8px #eff0f2;
    box-shadow: 0 0 8px #eff0f2;
}
section.promo nav ul li:hover, section.banner img:hover { -webkit-box-shadow: 0 0 8px #0088FF; box-shadow: 0 0 8px #0088FF; }
section.promo nav ul li:last-child { margin-right: 0; }
section.promo nav ul li .name {
    height: 90px;
    overflow: hidden;
    border-bottom: 2px solid #000;
}
section.promo nav ul li .name a { font-size: 22px; line-height: 26px; text-transform: uppercase; color: #000; }
section.promo nav ul li .name a strong { color: #0086FF; }
section.promo nav ul li .name a mark { color: #E84C3D; }
section.promo nav ul li .img { margin-top: 20px; height: 194px; text-align: center; }
section.promo nav ul li .img img { max-width: 90%; max-height: 100%; }
section.banner img { width: 100%; border-radius: 4px; }
section.deals .panel .panel-body, section.hits .panel .panel-body { padding: 0; }
section .panel { margin-bottom: 0; }
section .panel ul { margin: 0;}
section .panel ul li, .catalog .thumbnail {
    position: relative;
    float: left;
    padding: 20px;
    width: 234px;
    height: 364px;
    border-right: 1px solid #eff0f2;
}
section .panel ul li:last-child { border-right: none; }
section .panel ul li .img { position: relative; width: 194px; height: 194px; text-align: center; }
section .panel ul li .img img { width: 194px; height: 194px; }
section .panel ul li .img .blackout, .thumbnail .img .blackout { display: none; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: #000; opacity: 0.5; }
section .panel ul li .img:hover .blackout, .thumbnail .img:hover .blackout { display: block; }
section .panel .name, .catalog .thumbnail .name { height: 66px; text-transform: uppercase; font-size: 15px; line-height: 22px; overflow: hidden; margin-top: 20px; }
section .panel .name a, .catalog .thumbnail .name a { color: #000; }
section .panel .buy, .catalog .thumbnail .buy { position: absolute; bottom: 20px; left: 20px; right: 20px; }
section .panel .buy .price, .catalog .thumbnail .buy .price { float: left; display: block; height: 27px; max-width: 98px; line-height: 27px; color: #0086FF; font-size: 26px; overflow: hidden; }
section .panel .buy .like, section .panel .buy .addtoCart, .buy .like, .buy .addtoCart, .basket .addtoCart, .notepad .like { display: block; height: 27px; width: 27px; float: right; margin-left: 4px; }
section.deals .panel-default>.panel-heading { background-color: #fce0b9; }
section.hits .panel-default>.panel-heading { background-color: #f6e56f; }
section.blog .panel-default>.panel-heading { background-color: #2f96f2; }
section.faq .panel-default>.panel-heading { background-color: #1bbc9b; }
section .panel h4 { margin-bottom: 4px; }
section .panel h4 a { color: #0086FF; }
section article { margin: 0 0 20px; }
section article:last-child { margin-bottom: 0; }

.jcarousel-container .jcarousel-clip { overflow: hidden; margin-right: 3px; }
.jcarousel-prev, .jcarousel-next { position: absolute; width: 44px; height: 44px; top: 48%; left: -54px; background: url('images/icons.png') -2px -118px no-repeat; cursor: pointer; }
.jcarousel-next { background-position: -50px -118px; left: auto; right: -54px; }
.jcarousel-prev:hover { background-position: -2px -163px; }
.jcarousel-next:hover { background-position: -50px -163px; }

/*.catalog { overflow: hidden; }*/
.content .catalog ul { margin-left: -15px; }
.catalog .thumbnail {
    position: relative;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #eff0f2;
    -webkit-box-shadow: 0 0 8px #eff0f2;
    box-shadow: 0 0 8px #eff0f2;
}
.catalog .thumbnail .img { position: relative; width: 170px; height: 170px; line-height: 170px; text-align: center; }
.catalog .thumbnail .img img { max-width: 170px; max-height: 170px; }
.catalog .thumbnail .name { text-transform: none; }
.catalog .thumbnail .buy .price { color: #000; font-size: 22px; }
.catalog-section-list.catalog  .thumbnail { padding: 14px; }

.table.contacts tr td { font-size: 16px; }
.table.contacts tr td:first-child { text-transform: uppercase; }
.table.contacts tr td a { color: #000; }
.table.contacts tr td a:hover { border-bottom: none; }

/*** / content ***/

/*** footer ***/
#to_top {
    display: none;
    position: absolute;
    width: 57px;
    height: 57px;
    right: -60px;
    bottom: 12px;
    cursor: pointer;
    background: url("images/to-top.png");
    z-index: 2;
}
#to_top:hover { background-position: 0 -57px; }
footer {
    position: absolute;
    bottom: 0;
    padding: 22px 0 0;
    height: 130px;
    width: 100%;
    color: #BDC3C7;
    font-size: 12px;
    background-color: #2D3E50;
}
footer nav { float: left; }
footer nav ul { float: left; margin: 0 20px 0 0; line-height: 20px; }
footer nav [id*='bx'] { float: left; margin: 0; }
footer a { font-weight: normal; }
footer a:hover { color: #0086FF !important; }
footer .phone { float: left; margin-left: 30px; color: #fff; }
footer a.dottedLink { color: #fff; }
footer .skype, footer .email { float: left; margin: 20px 0 0 30px; font-size: 14px; }
footer .skype a, footer .email a { color: #fff; }
footer .btn { float: right; margin-top: 12px; }
footer .modal .btn { margin-top: 0; }
footer .copyright { position: absolute; right: 15px; bottom: 0; }
footer .copyright a { text-decoration: underline; margin-left: 20px; color: #BDC3C7; }
footer .copyright a:hover { text-decoration: none; }
footer .dev { position: absolute; right: 15px; bottom: -24px; font-size: 11px; }
footer .dev a { color: #fff; text-decoration: underline; }
 /*** / footer ***/

[class*='bx-core'] input, [class*='bx-core'] button, [class*='bx-core'] select, [class*='bx-core'] textarea { line-height: normal !important }

.lm-auto-search-parts a { text-decoration: underline; }
.lm-auto-search-parts .basket, .lm-auto-search-parts .notepad { width: 27px !important; }
.basket .icon-custom-tocart { background-position: -29px -1px; }
.search-result.panel-default .panel-heading { background-color: #F6E56F; border-color: #ECF0F1; border-radius: 3px 3px 0 0; padding: 12px 15px; min-height: 50px; }
.search-result.panel-default .panel-heading h3 { font-size: 24px; }
.lm-auto-search-parts-place input[type="text"] { width: 500px; margin-right: 10px; }
.lm-auto-search-parts-place .checkbox { margin-top: 8px; }

#to-wrapper-id { padding-top: 10px; }
#to-wrapper-id .selectbox { margin: 0 16px 10px 0; }
#to-wrapper-id .btn { display: inline-block; padding: 10px 12px; margin: 0 8px 10px 0; }

#autoto_form .quant_inp { width: 60px; text-align: center; }

#tecdocInfoModal table { width: 100%; margin-bottom: 0; }
#tecdocInfoModal table tr:last-child td { border-bottom: none !important; }
#tecdocInfoModal table tr td:first-child { text-transform: uppercase; }
#tecdocInfoModal table tr td b { font-weight: normal; }

.content .alert-danger { border: 2px solid #0085ff; background-color: #fff; font-size: 20px; }
.content .alert-danger font.errortext { color: #0085ff !important; }

/*** styles for IE ***/
.ie9 .search .nav-tabs > li:last-child { float: right; }
.ie8 #main header .selectbox { height: 30px; }
.ie8 #main .selectbox .select { height: 30px; }

.typekit-badge { display: none !important; visibility: hidden !important; }

#tecdocInfoModal .standartTable th, #tecdocInfoModal .standartTable td { text-align: left; }