.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.content_wrap {
	background: #FBFBFB;
	min-height: 100%;
}
.wrapper * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.wrapper input[type="submit"] {
	cursor: pointer;
}
.wrapper {
	margin: auto;
	width: 970px;
	padding: 0 15px;
	position: relative;
}
.wrapper .blue_span {
	text-transform: uppercase;
    color: #0086ff;
}
.wrapper input[type="text"],
.wrapper input[type="password"] {
	font-size: 18px;
	border: 2px solid #ECEFF0;
	border-radius: 5px;
}
.wrapper input[type="text"]:focus,
.wrapper input[type="password"]:focus{
	border-color: #3B7DFF;
}
.wrapper .btn-blue {
	border: 2px solid #4A84D5;
	border-radius: 4px;
}
.wrapper .btn-green {
	border: 2px solid #5CB66C;
	border-radius: 4px;
}

/* Anchor Nav
------------------------------------------------------------------------------------ */
.sidebar-menu ul,
#top-menu {
    background: white;
    list-style: none;
    padding: 14px 13px;
}
#top-menu {
    width: 220px;
    position: fixed;
    margin-left: 750px;
    z-index: 1;
    border: 2px solid #f0d30e;
    border-radius: 3px;
}
.sidebar-menu {
    float: right;
    width: 220px;
    border: 2px solid #f0d30e;
    border-radius: 3px;
}
.sidebar-menu h1 {
    font-size: 24px !important;
    padding: 0 !important;
    text-align: center;
    height: 43px !important;
    border-bottom: 2px solid #f0d30e;
}
.sidebar-menu ul li,
#top-menu li {
	margin: 1px 0;
}
.sidebar-menu li:last-child,
#top-menu li:last-child {
	margin-bottom: 0;
}
.sidebar-menu ul a,
#top-menu a {
	text-align: left;
	padding: 7px 8px;
    display: block;
	border-radius: 3px;
	line-height: 16px;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    text-decoration: none;
    font-family: 'Proximanova Bold';
    font-size: 16px;
    color: black;
}
.sidebar-menu ul a:hover,
.sidebar-menu ul li.active a,
#top-menu a:hover,
#top-menu li.active a  {
    background: #f6e46e;
    text-decoration: none;
}

/* Content
------------------------------------------------------------------------------------ */
.wrapper h1,
.wrapper h2 {
	font-family: 'Proximanova Bold';
	margin: 0;
}
.wrapper h1 {
	padding:0 15px;
	font-size: 30px;
	line-height: 50px;
	background: #f6e46e;
    border-radius: 3px 3px 0 0;
}
.wrapper h2 {
	font-size: 24px;
	line-height: 25px;
	margin-bottom: 18px;
}
.wrapper hr {
    margin: 0 0 15px -15px;
    width: 690px;
    height: 0;
    border: none;
    border-top: 2px solid #f2f5f6;
}
.wrapper form {
    background: #f2f4f5;
    border-radius: 3px;
    border: 2px solid #ecf0f1;
}
.wrapper p,
.wrapper ul {
	text-align: justify;
	margin-bottom: 15px;
	font-size: 14px;
	font-family: Arial;
	line-height: 20px;
}
.wrapper-align p {
    text-align: left;
}
.wrapper ul {
	margin-bottom: 0;
	list-style: none;
}
.wrapper ul.list {
	margin-bottom: 15px;
	padding-left: 40px;
	margin-left: 0;
}
.wrapper ul.sub_list {
	margin-bottom: 15px;
	margin-left: 50px;
	padding-left: 40px;
}
.wrapper ul.list li,
.wrapper ul.sub_list li {
	position: relative;
	padding-left: 25px;
}
.wrapper ul.sub_list li {
	margin-bottom: 15px;
}
.wrapper ul.sub_list li:last-child {
	margin-bottom: 0;
}
.wrapper p.subparagraph {
	padding-left: 40px;
	position: relative;
}
.wrapper p.double_subparagraph {
	padding-left: 50px;
	margin-left: 40px;
	position: relative;
}
.wrapper p.triple_subparagraph {
	padding-left: 70px;
	margin-left: 90px;
	position: relative;
}
.wrapper .numbering {
	position: absolute;
	left: 0px;
	font-family: 'Proximanova Bold';
}
.wrapper p span,
.wrapper li span {
	font-family: 'Proximanova Bold';
	font-weight: bold;
}
.wrapper a {
	font-family: Arial;
	font-size: 14px;
	color: #0085ff;
	text-decoration: none;
}
.wrapper a:hover {
    text-decoration: underline;
}
.wrapper .content_container {
	float: left;
	width: 690px;
	box-shadow: 0 0 5px 3px rgba(181,181,181,.2);
	margin-bottom: 30px;
    border-radius: 3px;
}
.wrapper .content_container .content {
	margin: 0;
	margin-top: 1px;
	width: 690px;
	padding: 15px;
	background: white;
    border-radius: 3px;
}
.wrapper .content_container .content p:last-child {
	margin-bottom: 0;
}
.wrapper .content_container .content .attention {
    padding: 10px;
    width: 100%;
    background: #f2f4f5;
    border-radius: 3px;
    border: 2px solid #ecf0f1;
}
.wrapper .content_container .content .attention p {
    margin: 0;
}
.wrapper .content_container .content .attention p span {
    text-transform: uppercase;
    color: #0086ff;
}
.wrapper .content_container .content .attention .level {
    margin-bottom: 20px;
}
.wrapper .content_container .content .attention .level:last-child {
    margin-bottom: 0;
}
.wrapper .content_container .content .attention .level label {
    margin-top: 10px;
    width: 180px;
    float: left;
    font-family: 'Proximanova SemiBold';
    font-size: 20px;
}
.wrapper .content_container .content .attention .level input,
.wrapper .content_container .content .attention .level textarea {
    width: 456px;
    float: right;
    border-radius: 5px;
    border: 2px solid #ECEFF0;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}
.wrapper .content_container .content .attention .level input:focus,
.wrapper .content_container .content .attention .level textarea:focus {
    border-color: #3B7DFF;
}
.wrapper .content_container .content .attention .level textarea {
    height: 100px;
    resize:none;
}
.wrapper .content_container .content .attention .level a {
    float: left;
    margin-top: 7px;
    margin-left: 3px;
    font-family: 'Proximanova Bold';
    font-size: 20px;
    color: black;
    border-bottom: 2px dotted black;
}
.wrapper .content_container .content .attention .level a:hover {
    color: #0085ff;
    text-decoration: none;
    border-color: #0085ff;
}

/* Popup
------------------------------------------------------------------------------------ */
.popup_container {
	position: relative;
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
	width: 330px;
	padding: 15px 18px;
	border: 2px solid #ECEFF0;
	border-radius: 5px;
}
.popup_container .close_icon {
	position: absolute;
	right: -20px;
	top: -20px;
}
.only_regist_use {
	margin: 0;
	border-radius: 5px;
	padding: 12px 15px;
	background: #F2F3F4;
	font-size: 22px;
	font-family: 'Proximanova Bold';
	border: 2px solid #ECEFF0;
}
.popup_container .btn {
	width: 100%;
	font-size: 18px;
	font-family: 'Proximanova XBold';
	border-radius: 4px;
}
.popup_container .btn-blue {
	border: 2px solid #4A84D5;
	margin-top: 15px;
}
.popup_container .btn-green {
	border: 2px solid #5CB66C;
}
.popup_container .hr {
	margin: 10px 0;
	font-family: 'Proximanova Bold';
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	color: #d1d5d8;
	background: url(../images/popup_container_hr.jpg) repeat-x 50%;
}
.popup_container .hr span {
	padding: 0 8px;
	background: white;
}


/* About
------------------------------------------------------------------------------------ */
.write_us {
    padding: 13px;
    border: 2px solid #ECEFF0;
}
.write_us input,
.write_us textarea {
    font-family: 'Arial';
    font-size: 18px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ECEFF0;
    margin-bottom: 20px;
}
.write_us input[type="text"]:focus,
.write_us textarea:focus {
    border-color: #3B7DFF;
}
.write_us textarea {
    height: 120px;
    resize: none;
    margin-bottom: 15px;
}
.write_us p {
    padding: 0 2px;
    font-size: 12px;
    color: #c4c9ca;
    line-height: 15px;
    margin-bottom: 20px;
}
.write_us p span {
    color: black;
    font-family: 'Arial';
}
.write_us p a {
    font-size: 12px;
    color: #c4c9ca;
    text-decoration: underline;
}
.write_us p a:hover {
    text-decoration: none;
}
.write_us .btn {
    width: 100%;
    font-family: 'Proximanova XBold';
}

/* Guaranty
------------------------------------------------------------------------------------ */
.guaranty_wrap .content_container ul.list {
	padding-left: 33px;
}
.guaranty_wrap .content_container .numbering {
	font-family: Arial;
}
.guaranty_wrap .content_container ul.list li {
	list-style: disc;
	padding-left: 0;
}
.guaranty_wrap p {
	position: relative;
	padding-left: 17px;
}
.guaranty_wrap .title {
	font-family: Arial;
	font-weight: bold;
	margin-bottom: 1px;
}
.guaranty_wrap h2 {
	font-size: 30px;
	margin-bottom: 12px;
}
.guaranty_wrap form {
	padding: 13px;
	border: 2px solid #ECEFF0;
}
.guaranty_wrap form > div {
	position: relative;
	margin-bottom: 15px;
}
.guaranty_wrap form > div label,
.subscription_wrap form > div label,
.inquiry_wrap form label,
.change_pass_wrap form label,
.reset_pass_wrap form label {
	line-height: 45px;
	font-size: 20px;
	font-family: 'Proximanova SemiBold' sans-serif !important;
}
.guaranty_wrap form input,
.guaranty_wrap form textarea {
	font-size: 18px;
	width: 446px;
	border-radius: 5px;
	border: 2px solid #ECEFF0;
	float: right;
}
.guaranty_wrap form input[type="file"] {
	visibility: hidden;
}
.guaranty_wrap form label.file:after {
	content: 'прикрепить файл';
	text-transform: uppercase;
	color: white;
	font-family: 'Proximanova XBold';
	text-align: center;
	background: #CBD0D1;
	font-size: 18px;
	position: absolute;
	right: 0;
	width: 442px;
	height: 41px;
	border: 2px solid #C2C7C8;
	border-radius: 5px;
}
.guaranty_wrap form .textarea label {
	line-height: 20px;
}
.guaranty_wrap form textarea {
	height: 87px;
	resize: none;
}
.guaranty_wrap form .btn {
	width: 100%;
	font-family: 'Proximanova XBold';
}
.hidden_block {
	border: 2px solid #3B7DFF;
	border-radius: 5px;
	padding: 8px 0 7px 14px;
	margin-bottom: 15px;
}
.hidden_block p {
	padding: 0;
	text-align: left;
	margin: 0;
	font-size: 20px;
	line-height: 25px;
	font-family: 'Proximanova Bold';
	color: #0085ff;
}

/* My auto
------------------------------------------------------------------------------------ */
.wrapper .content_container .content table.auto_table {
    width: 100%;
}
.wrapper .content_container .content table.auto_table thead tr td {
    font-family: 'Proximanova Bold';
    font-size: 14px;
    padding-bottom: 15px;
}
.wrapper .content_container .content table.auto_table tbody tr td {
    border-top: 1px dotted #d6d7d7;
}
.wrapper .content_container .content table.auto_table tbody tr td {
    font-family: 'Arial';
    font-size: 14px;
    vertical-align: top;
    padding: 10px 0;
}
.wrapper .content_container .content table.auto_table tbody tr td:first-child {
    width: 190px;
}
.wrapper .content_container .content table.auto_table tbody tr td:nth-child(2) {
    width: 180px;
}
.wrapper .content_container .content table.auto_table tbody tr td:nth-child(3) {
    width: 210px;
}
.wrapper .content_container .content table.auto_table tbody tr td .icons {
    height: 16px;
    width: 16px;
    float: right;
    position: relative;
    margin-left: 10px;
}
.wrapper .content_container .content table.auto_table tbody tr td .icons a {
    width: 16px;
    height: 16px;
    display: block;
}
.wrapper .content_container .content table.auto_table tbody tr td .del a {
    background: url(../images/del_icon.png) no-repeat;
}
.wrapper .content_container .content table.auto_table tbody tr td .edit a {
    background: url(../images/edit_icon.png) no-repeat;
}
.wrapper .content_container .content table.auto_table tbody tr td .catalog a {
    background: url(../images/catalog_icon.png) no-repeat;
}
.wrapper .content_container .content table.auto_table tbody tr td .icons .fade_discription {
    padding: 5px 3px;
    background: white;
    position: absolute;
    top: -33px;
    left: -21px;
    z-index: 50;
    text-align: left;
    border-radius: 5px;
    border: 2px solid #ecf0f1;
    box-shadow: 0 0 10px 2px rgba(181,181,181,.2);
}
.wrapper .content_container .content table.auto_table tbody tr td .icons .fade_discription:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid white;
    position: absolute;
    left: 20px;
    top: 100%;
}
.wrapper .content_container .content table.auto_table tbody tr td .icons .fade_discription p {
    font-family: 'Arial';
    font-size: 12px;
    color: #363636;
    line-height: 12px;
}
.wrapper .content_container .content table.auto_table tbody tr td .edit .fade_discription {
    left: -40px;
}
.wrapper .content_container .content table.auto_table tbody tr td .edit .fade_discription:after {
    left: 40px;
}
.wrapper .content_container .content table.auto_table tbody tr td .catalog .fade_discription {
    width: 115px;
    left: -50px;
}
.wrapper .content_container .content table.auto_table tbody tr td .catalog .fade_discription:after {
    left: 50px;
}

.auto_wrap .btn {
    width: 100%;
    font-family: 'Proximanova XBold';
    color: white;
    display: block;
    text-align: center;
    border: 2px solid #3589cf;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 15px;
}
.auto_wrap .content_container h1,
.subscription_wrap .content_container h1,
.inquiry_wrap .content_container h1,
.change_pass_wrap .content_container h1,
.reset_pass_wrap .content_container h1{
    background: none;
    padding: 0;
    line-height: 30px;
    margin-bottom: 15px;
}
.auto_popup {
    margin: 20px auto 0;
    background: white;
    padding: 15px;
    width: 690px;
    border-radius: 5px;
    border: 2px solid #ECEFF0;
    box-shadow: 0 0 5px 3px rgba(181,181,181,.2);
    position: relative;
}
.auto_popup .close_icon {
    position: absolute;
    right: -20px;
    top: -20px;
}
.auto_popup h1 {
    padding: 0;
    background: none;
    line-height: 30px;
    margin-bottom: 10px;
}
.auto_popup hr {
    margin-bottom: 5px;
}
.auto_popup table {
    width: 100%;
}
.auto_popup table tr td {
    padding: 1px 0;
}
.auto_popup table thead tr td {
    font-family: 'Proximanova Bold';
    font-size: 14px;
    text-transform: uppercase;
}
.auto_popup table tbody tr td {
    font-family: 'Arial';
    font-size: 14px;
}
.model_popup table tr td:first-child {
    width: 350px;
}
.modification_popup table tr td:first-child {
    width: 170px;
}
.modification_popup table tr td:last-child {
    width: 200px;
}
.mark_popup ul {
    float: left;
    width: 164px;
}

.mark_popup ul li a {
    font-family: 'Proximanova Bold';
    color: black;
    text-transform: uppercase;
    line-height: 14px;
}
.mark_popup ul li a:hover {
    color: #0085ff;
    text-decoration: none;
}


/* Pay&delivery
------------------------------------------------------------------------------------ */

.pay_delivery_wrap h2 {
	line-height: 30px;
	margin-bottom: 10px;
	margin-top: -3px;
}
.pay_delivery_wrap i {
	font-style: normal;
	color: #0085ff;
}
.pay_delivery_wrap hr {
	margin-top: 15px;
	margin-bottom: 12px;
}
.pay_delivery_wrap .attention {
	margin-bottom: 10px;
}
.pay_delivery_wrap div.attention:last-child {
	margin-bottom: 0;
}
.pay_delivery_wrap .content_container .content .attention p {
	margin-bottom: 15px;
}
.pay_delivery_wrap .content_container .content .attention p:last-child {
	margin-bottom: 0;
}
.pay_delivery_wrap .icon_h2 img {
 margin-right: 10px;
 float: left;
}
.pay_delivery_wrap .list_wrap {
	padding-left: 15px;
}
.pay_delivery_wrap .list_wrap li {
	line-height: 20px;
	margin-bottom: 5px;
}
.pay_delivery_wrap .list_wrap li:last-child {
	margin-bottom: 0;
}
.pay_delivery_wrap .list_column_left,
.pay_delivery_wrap .list_column_right {
	margin:0;
	width: 48%;
	float: left;
	list-style: disc;
}
.pay_delivery_wrap .list_column_right {
	float: right;
}

/* Subscription
------------------------------------------------------------------------------------ */
.subscription_wrap .attention {
	margin-bottom: 10px;
}
.subscription_wrap form {
	border: none;
	padding: 0 3px;
}
.subscription_wrap form input[type="text"] {
	font-size: 18px;
	margin-left: 18px;
	width: 385px;
	height: 45px;
	border-radius: 5px;
	border: 2px solid #ECEFF0;
}
.subscription_wrap form input[type="submit"] {
	width: 150px;
	font-family: 'Proximanova XBold';
	font-size: 16px;
	border-radius: 5px;
	border: 2px solid #4C89DD;
	height: 45px;
	float: right;
}
.subscription_wrap .blue_span {
	cursor: pointer;
}

/* Vin
------------------------------------------------------------------------------------ */
.inquiry_wrap p {
	text-align: left;
}
.inquiry_wrap .content label {
	line-height: 26px;
	position: relative;
	cursor: default;
}
.inquiry_wrap .form > div {
	margin-bottom: 15px;
	position: relative;
}
.inquiry_wrap .form > div:last-child {
	margin-bottom: 0;
}
.inquiry_wrap input[type="text"],
.inquiry_wrap select,
.inquiry_wrap textarea {
	font-size: 18px;
	width: 463px;
	height: 45px;
	border-radius: 5px;
	border: 2px solid #ECEFF0;
}
.inquiry_wrap textarea {
	height: 100px;
	resize: none;
}
.inquiry_wrap .label_container {
	line-height: 45px;
	width: 155px;
	float: left;
}
.inquiry_wrap .content a {
	line-height: 20px;
	font-size: 20px;
	font-family: 'Proximanova Bold';
	color: black;
	border-bottom: 2px dotted;
}
.inquiry_wrap label.checkbox {
	margin-left: 17px;
	padding-left: 0;
	margin-right: 6px;
	cursor: pointer;
}
.inquiry_wrap label.radio {
	cursor: pointer;
}
.inquiry_wrap label.checkbox input[type="checkbox"] {
	position: absolute;
	left: -17px;
	top: 6px;
	cursor: pointer;
}
.inquiry_wrap input[type="radio"] {
	cursor: pointer;
	position: absolute;
	top: 6px;
	width: 14px;
	height: 14px;
}
.inquiry_wrap div.two_lines {
	line-height: 20px;
}
.inquiry_wrap a:hover {
	color: #0085ff;
	text-decoration: none;
}
.inquiry_wrap form {
	border: none;
	background: none;
}
.inquiry_wrap .attention {
	margin-bottom: 13px;
}
.inquiry_wrap .brand_choice * {
	font-size: 20px;
	font-family: 'Proximanova Bold';
}
.inquiry_wrap .brand_choice p {
	position: relative;
	line-height: 26px;
	padding-left: 25px;
}
.inquiry_wrap .brand_choice input[type="radio"] {
	left: 1px;
	top: 5px;
}
.inquiry_wrap .brand_choice a {
	text-transform: uppercase;
	display: inline-block;
}
.inquiry_wrap .brand_choice i {
	font-style: normal;
	color: #0085ff;
}
.inquiry_wrap .right_block {
	width: 465px;
	position: relative;
	float: right;
}
.inquiry_wrap .right_block label {
	position: relative;
}
.inquiry_wrap .right_block p {
	font-size: 20px;
	font-family: 'Proximanova Bold';
	line-height: 42px;
}
.inquiry_wrap .open_hide:before {
	content: '';
	position: absolute;
	left: -14px;
	width: 11px;
	top: 6px;
	height: 11px;
	background: url(../images/arrow_open_hide.png);
}
.inquiry_wrap .open_hide:hover:before,
.inquiry_wrap .open_hide.active:hover:before {
	background-position: 11px 0;
}
.inquiry_wrap .content .open_hide {
	line-height: 22px;
	margin-left: 10px;
	position: relative;
	display: inline-block;
}
.inquiry_wrap .content .hidden {
	margin-top: 20px;
}
.inquiry_wrap .open_hide.active:before {
	content: '';
	width: 11px;
	height: 11px;
	background: url(../images/arrow_active.png);
}
.inquiry_wrap .steering_wheel .right_block {
	padding-top: 10px;
}
.inquiry_wrap .steering_wheel .right_block label {
	margin-right: 12px;
}
.inquiry_wrap .steering_wheel .right_block label span {
	padding-left: 20px;
}
.inquiry_wrap .right_block .check_block {
	padding-top: 25px;
}
.inquiry_wrap .describe_parts > div {
	display: inline-block;
	width: 150px;
}
.inquiry_wrap .describe_parts > div input {
	width: 147px;
	margin-top: 6px;
	margin-bottom: 12px;
}
.inquiry_wrap .describe_parts a {
	display: inline-block;
}
.inquiry_wrap .reset {
	font-family: 'Proximanova XBold';
	border: 2px solid #C3493D;
	border-radius: 5px;
	width: 164px;
	margin-right: 10px;
}
.inquiry_wrap .send {
	font-family: 'Proximanova XBold';
	border: 2px solid #4C89DD;
	border-radius: 5px;
	width: 480px;
}
.inquiry_wrap #cylinder {
	margin-right: 25px;
}
.inquiry_wrap #valve {
	float: right;
}
.inquiry_wrap #cylinder,
.inquiry_wrap #valve {
	width: 168px;
}
/* Payments
------------------------------------------------------------------------------------ */
.payments .attention {
    margin-bottom: 15px;
}
.payments .attention p {
    font-family: 'Proximanova Bold';
    font-size: 20px;
    line-height: 30px;
}
.payments .attention p span {
    font-family: 'Arial';
    text-transform: lowercase !important;
}
.payments .attention p a {
    font-family: 'Proximanova Bold';
    font-size: 20px;
    border-bottom: 2px dotted black;
    color: black;
}
.payments .attention p a:hover {
    color: #0085ff;
    text-decoration: none;
    border-color: #0085ff;
}
.payments .attention .level label.no_m {
    margin: 0 !important;
}
.payments .attention .date img {
    float: right;
    margin-top: 8px;
    margin-left: 8px;
}
.payments .attention .date img.central {
    margin-right: 8px;
}
.payments .attention .date input {
    width: 195px !important;
}
.payments table {
    width: 100%;
}
.payments table tr td {
    padding: 10px 5px;
}
.payments table tr td:first-child {
    width: 45px;
}
.payments table tr td:last-child {
    width: 150px;
}
.payments table tr td:nth-child(2) {
    width: 90px;
    text-align: center;
}
.payments table thead tr td {
    font-family: 'Proximanova Bold';
    font-size: 14px;
    text-transform: uppercase;
}
.payments table tbody tr td {
    border-top: 1px dotted #d6d7d7;
}
.payments table tbody tr td {
    font-family: 'Arial';
    font-size: 14px;
    vertical-align: top;
}


/* Change pass
------------------------------------------------------------------------------------ */
.change_pass_wrap hr {
	width: 100%;
	margin-left: 0;
}
.change_pass_wrap .content_container,
.change_pass_wrap .content_container .content {
	width: 100%;
}
.change_pass_wrap input {
	float: right;
	width: 670px;
}
.change_pass_wrap form {
	border: none;
}
.change_pass_wrap form > div {
	margin-bottom: 15px;
}
.change_pass_wrap form > div:nth-child(4) {
	margin-bottom: 0;
}
.change_pass_wrap form p {
	padding-left: 248px;
	padding-top: 7px;
	padding-bottom: 5px;
}
.change_pass_wrap form .btn-blue {
	font-family: 'Proximanova XBold';
}

/* Reset pass
------------------------------------------------------------------------------------ */
.reset_pass_wrap form .btn-blue {
	font-family: 'Proximanova XBold';
	margin-right: 0;
}
.reset_pass_wrap hr {
	width: 100%;
	margin-left: 0;
}
.reset_pass_wrap .content_container,
.reset_pass_wrap .content_container .content {
	width: 100%;
}
.reset_pass_wrap .attention p {
	font-size: 20px;
	line-height: 24px;
	font-family: 'Proximanova Bold';
}
.reset_pass_wrap div.attention {
	margin-bottom: 15px;
}
.reset_pass_wrap form {
	border: none;
}
.reset_pass_wrap form > div {
	float: left;
}
.reset_pass_wrap form input {
	width: 244px;
	margin-right: 19px;
}
.reset_pass_wrap form label {
	margin-right: 14px;
}
.reset_pass_wrap form .btn {
	width: 230px;
}

/* order_submit
------------------------------------------------------------------------------------ */

.attention-order-submit {
	padding: 14px !important;
}

.content_container_order_submit {
	margin-bottom: 19px !important;
}

.order-submit-logo {
	float: left;
	margin-right: 17px;
	margin-top: 5px;
}

.order-successfully-created {
	font-size: 28px !important;
	line-height: 33px !important;
	float: left;
	width: 550px;
}

.attention-send-email {
	font-family: 'Proximanova SemiBold' sans-serif !important;
	font-size: 24px;
	margin-bottom: 5px !important;
	line-height: 29px !important;
}

.attention-send-email a {
	color: #0085ff;
	font-size: 24px !important;
	border-bottom: 2px dotted #0085ff;
	text-decoration: none;
	font-family: 'Proximanova Bold' sans-serif !important;
}

.attention-send-email a:hover {
	border-bottom: none;
	text-decoration: none;
}

.service-partner {
	font-size: 16px !important;
	margin-top: 15px;
}

.order-submit-button {
	width: 660px;
	font-family: 'Proximanova XBold' !important;
	color: #ffffff !important;
	display: block;
	text-align: center;
	border-radius: 3px;
	font-size: 16px !important;
	text-transform: uppercase;
	margin-top: 15px;
	background: #2dcc70;
	border: 2px solid #38bd70;
	padding: 15px 0;
}

.order-submit-button:hover {
	text-decoration: none !important;
	background: #3db670;
	border: 2px solid #3db670;
}

.content_container_single_button {
	float: left;
	width: 690px;
	margin-bottom: 19px;
	padding: 1px 14px 17px 14px;
}


/* tecdoc lvl2
------------------------------------------------------------------------------------ */


.tecdoc_wrap .content_container h1 {
	background: none;
    padding: 0;
    line-height: 30px;
    margin-bottom: 15px;
}
.tecdoc_wrap .filter_input {
	width: 100%;
	border: 2px solid #ECF0F1;
	font-size: 18px;
	padding-left: 35px;
	background: url(../images/search_filter.png) no-repeat 8px;
	margin-bottom: 12px;
}
.tecdoc_wrap .content_container .content .filter {
	background: #ECF0F1;
	padding-top: 8px;
	padding-bottom: 8px;
}
.tecdoc_wrap .filter a {
	display: inline-block;
	padding: 2px 7px;
	margin: 4px 2px;
	font-size: 14px;
	font-family: Arial;
	color: black;
	text-decoration: none;
	background: #F6E46E;
	border-radius: 4px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.tecdoc_wrap .filter a.active {
	background: #0085FF;
	color: white;
}
.tecdoc_wrap .filter a:hover {
	background: #0085FF;
	color: white;
}
.td_lvl2_wrap .catalog_man  {
	margin-left: 0;
}
.td_lvl2_wrap .catalog_man li {
	float: left;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-ms-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
	margin-top: 15px;
	padding: 14px;
	width: 211px;
	height: 223px;
	border: 2px solid #ECF0F1;
	border-radius: 4px;
	margin-right: 13px;
}
.td_lvl2_wrap .catalog_man li:nth-child(3n) {
	margin-right: 0;
}
.td_lvl2_wrap .catalog_man li > a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.td_lvl2_wrap .catalog_man li .img {
	width: 180px;
	height: 126px;
	background: url(../images/photo_plug.svg) no-repeat 50%;
	margin-bottom: 30px;
	border-radius: 4px;
	border: 2px solid #ECF0F1;
	overflow: hidden;
}
.td_lvl2_wrap .catalog_man li .img img {
	width: 176px;
	height: 122px;
}
.td_lvl2_wrap .catalog_man li:hover {
	border-color: #0085FF;
	box-shadow: 0 0 6px #2395FF;
}
.td_lvl2_wrap .catalog_man li .year {
	color: black;
	font-family: 'ProximaNova Bold';
	line-height: 16px;
}

/* Tecdoc lvl3
------------------------------------------------------------------------------------ */
.td_lvl3_wrap table {
	margin-top: 10px;
	text-align: left;
	width: 100%;
	font-size: 14px;
}
.td_lvl3_wrap table a {
	line-height: 18px;
}
.td_lvl3_wrap table a.info {
	width: 18px;
	height: 18px;
	border-radius: 10px;
	display: block;
	margin: auto;
	background: url(../images/info_table.png) no-repeat;
}
.td_lvl3_wrap table td {
	border-top: 1px dashed #E4E7E8;
}
.td_lvl3_wrap table td,
.td_lvl3_wrap table th {
	vertical-align: top;
	padding: 10px 8px 10px 0;
}
.td_lvl3_wrap table th {
	text-transform: uppercase;
	font-family: 'Proximanova Bold';
}
.td_lvl3_wrap table th:first-child {
	width: 150px;
}
.td_lvl3_wrap table th:nth-child(2) {
	width: 60px;
}
.td_lvl3_wrap table th:nth-child(3) {
	width: 120px;
}
.td_lvl3_wrap table th:nth-child(4) {
	width: 45px;
}
.td_lvl3_wrap table th:nth-child(5) {
	width: 40px;
	text-align: center;
}
.td_lvl3_wrap table th:nth-child(6) {
	width: 70px;
	text-align: center;
}



/* you must login
------------------------------------------------------------------------------------ */

.you_must_login {
	background: #f2f4f5;
	border-radius: 3px;
	border: 2px solid #ecf0f1;
	padding: 13px;
}

.you_must_login input {
	width: 526px;
	float: right;
	margin-bottom: 16px;
}

.you_must_login label {
	font-family: 'Proximanova SemiBold';
	font-size: 20px;
	line-height: 45px;
}

.must_login_pass_tip {
	margin-left: 107px;
}

.you_must_login .must_login_pass {
	margin-bottom: 7px;
}

.you_must_login .btn-blue {
	font-size: 18px;
	margin-bottom: 0px;
}

.you_must_login-register {
	font-family: 'Proximanova Bold' !important;
	font-size: 20px !important;
	text-align: left !important;
	margin-top: 13px;
}

.you_must_login-register a {
	color: #000;
	text-decoration: none;
	font-family: 'Proximanova Bold' !important;
	font-size: 20px !important;
	border-bottom: 2px dotted #000;
}

.you_must_login-register a:hover {
	text-decoration: none;
	font-family: 'Proximanova Bold' !important;
	font-size: 20px !important;
	color: #0085ff;
	border-bottom: 2px dotted #0085ff;
}


.hide_inputs_on_hand_generate label {
	width: 100px !important;
	display: inline-block;
}

.hide_inputs_on_hand_generate label.two-string {
	line-height: 24px;
	margin
}

.you_must_login-generate_pass {
	margin-left: 105px;
}

.you_must_login-generate_pass > * {
	float: left !important;
}

.you_must_login-generate_pass input {
	margin: 4px 6px 0 35px !important;
}

.you_must_login-generate_pass input:first-child {
	margin-left: 0px !important;
}

.you_must_login-generate_pass label {
	font-size: 14px;
	line-height: 20px;
	font-family: arial;
}

.you_must_login p {
	font-size: 12px;
	font-family: arial;
	color: #b6bec5;
	line-height: 16px;
	margin-left: 105px;
	margin-top: 10px;
	width: 515px;
}

.you_must_login p a {
	font-size: 12px;
	font-family: arial;
	color: #b6bec5;
	text-decoration: underline;
}

.you_must_login p a:hover {
	font-size: 12px;
	font-family: arial;
	color: #0085ff;
	text-decoration: underline;
}

.you_must_login-input_margin_bot {
	margin-bottom: 7px !important;
}

.you_must_login-input_margin_bot-2 {
	margin-bottom: 0px !important;
}

.you_must_login-input_margin_top {
	margin-top: 8px !important;
}

/* batteries catalog
------------------------------------------------------------------------------------ */

.accumulators_wrap .content_container {
	width: 940px;
	margin: auto;
	float: none;
}
.accumulators_wrap .content_container .content {
	width: 100%;
}
.accumulators_wrap .content_container h1 {
	background: none;
    padding: 0;
    line-height: 18px;
}
.accumulators_wrap .accumulators_catalog {
	width: 970px;
	padding: 0 15px;
	margin: auto;
}
.accumulators_wrap .accumulators_catalog li {
	margin-right: 29px;
	margin-top: 25px;
	text-align: left;
	float: left;
	padding: 14px;
	width: 213px;
	height: 257px;
	box-shadow: 0 0 5px 3px rgba(181,181,181,.2);
	border: 1px solid #ECF0F1;
	background: white;
	border-radius: 4px;
}
.accumulators_wrap .accumulators_catalog li:nth-child(4n) {
	margin-right: 0;
}
.accumulators_wrap .accumulators_catalog li .img {
	width: 185px;
	height: 128px;
	background: url(../images/photo_plug.svg) no-repeat 50%;
	margin-bottom: 8px;
	border-radius: 4px;
	border: 2px solid #ECF0F1;
	overflow: hidden;
}
.accumulators_wrap .accumulators_catalog li .img img {
	width: 181px;
	height: 124px;
}
.accumulators_wrap .accumulators_catalog li .name {
	font-family: 'Proximanova Bold';
	font-size: 14px;
	color: black;
	line-height: 20px;
	display: inline-block;
}
.accumulators_wrap .accumulators_catalog li .name:hover {
	color: #0085ff;
}
.accumulators_wrap .accumulators_catalog li .cost {
	text-decoration: none;
	font-family: 'Proximanova Bold';
	display: inline-block;
	line-height: 14px;
	margin-top: 20px;
	text-transform: uppercase;
}
.accumulators_wrap .accumulators_catalog li .cost:hover {
	border-bottom: 1px solid #D5E2FF;
}
.accumulators_wrap .show_more {
	line-height: 52px;
	text-align: center;
	height: 50px;
	margin-top: 25px;
}
.accumulators_wrap .show_more a {
	font-size: 16px;
	display: inline-block;
	line-height: 16px;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-family: 'Proximanova Bold';
	border-bottom: 2px dotted;
}
.accumulators_wrap .show_more a:hover {
	color: #0085ff;
}

li.active {
	display: block !important;
}



/* BONUS PAGE
-------------------------------------------------------------------
*/

.bonus_container {
	width: 100% !important;
}

.bonus_container .content {
	width: 100% !important;
	margin-top: 2px !important;
}

.bonus_container .content img {
	float: left;
	margin: 1px 30px 11px 11px;
}
.bonus_container .content p {
	font-size: 14px;
	line-height: 18px;
	margin-top: 20px;
}
.bonus_container .content button {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	width: 570px;
	height: 45px;
	border-radius: 5px;
	border: 2px solid #3db670;
	background: #2dcc70;
}
.bonus-image {
	float: left;
}

.right-bonus-container {
	float: right;
	width: 590px;
}

.right-bonus-container h2 {
	margin-top: 2px;
	line-height: 29px;
}

.right-bonus-container p {
	margin-bottom: 20px;
}

.right-bonus-container p:last-child {
	margin-bottom: 6px !important;
}

.price_system h2 {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

.price_system_small {
	width: 160px;
	float: left;
	margin-right: 31px;
	margin-bottom: 7px;
}

.price_system_small:nth-child(6) {
	margin-right: 0px;
}

.price_system_small:nth-child(2) {
	margin-left: 13px;
}

.price_system_small p {
	font-size: 16px;
	text-align: center;
	font-family: 'Proximanova SemiBold';
}

.price_system_small p span {
	font-family: 'Proximanova XBold';
}

.bonus-button-green {
	font-weight: bold;
	cursor: pointer;
	font-family: 'Proximanova XBold';
}

.bonus-button-green:hover {
	background: #46c17a !important;
}

.promo-code h2 {
	margin-top: 4px;
}

.promo-code p {
	margin-bottom: 22px;
}

.promo-code p:last-child {
	margin-bottom: 18px !important;
}

@media screen and (max-height: 800px) {
	.user_agreement_wrap #top-menu {
		padding-bottom: 5px;
		padding-top: 5px;
		padding-left: 8px;
		padding-right: 8px;
		width: 200px;
	}
	.user_agreement_wrap #top-menu a {
		font-size: 14px;
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 14px;
	}
}

